body {
  padding-top: 50px;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.table tr{
  text-align:left;
}

.table td.done{
  text-decoration:line-through;

form{
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}
.form-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.form-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
